<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Segurtasuna / iptables</h1>
    <p>iptables ondo konfiguratu duzun jakin nahi?</p>

    <form name='myform' action='/check' method='POST'>

	URL: <input type='text' name='url' size='40'> <br> 
	<input type='submit' value='Bidali'> <br>

    </form>

  </body>
</html>
